@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);

}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: 'Rubik', sans-serif;

}

body {
  background-color: white;

  min-width: 250px;
  min-height: 74vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  overflow: hidden;

}

header {
  width: 100%;
  height: 350px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 

  padding-top: 40px;

  position: relative;

  z-index: 2;

}

header::before {
  content: '';
  background-image: url('../assets/pattern-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  object-position: center;

  width: 100%;
  height: 365px;

  position: absolute;
  top: 0px;

  z-index: -1;

}

header .title {
  color: white;
  font-size: 1.6rem;
  font-weight: 500;

  margin-bottom: 20px;

}

header .input-container {
  width: 85%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

}

.input-container .input {
  width: 100%;
  height: 60px;

  font-size: 1.2rem;
  font-weight: 400;

  padding: 0px 20px 0px 20px;

  border: none;
  border-radius: 16px 0px 0px 16px;
  outline: none;

}

.input-container .input--state-error {
  border: 1px solid rgb(224, 65, 65);

}

.input-container .input--state-error::placeholder {
  color: rgb(224, 65, 65);

}

.input-container .ip-send {
  background-color: black;
  width: 80px;
  height: 60px;

  border: none;
  border-radius: 0px 16px 16px 0;

  cursor: pointer;

  transition: background 0.2s;

}


.input-container .ip-send:hover {
  background-color: var(--very-dark-gray);

}

.input-container .input--state-error ~ .ip-send {
  background-color: rgb(224, 65, 65);

}

.input-container .input--state-error ~ .ip-send:hover {
  background-color: rgb(209, 43, 43);

}

header .ip-infos {
  background-color: white;
  width: 85%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: -150px;

  position: absolute;
  bottom: -10px;

  border-radius: 16px;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}

.ip-infos .info {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 

  margin: 15px 0;

}

.info h6 {
  color: var(--dark-gray);
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;

  margin-bottom: 10px;

}

.info h2 {
  color: var(--very-dark-gray);
  font-size: 1.3rem;
  font-weight: 500;

}

main {
  width: 100%;
  height: 55vh;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

}

main #mapid {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0px;

  z-index: 1;

}